.bloc4{
    background: rgb(38, 37, 35);;
}

.bloc4_bottom{
    background: url(../img/gmap.jpg);
    height: 300px;
    position: relative;
    .bloc4_bottom_cont{
        background-color: $color_div;
        width: 80% ;
        padding: 50px;
        height: 250px;
        position: absolute;
        bottom: 200px;
    }
    .image{
        position: relative;
    }
    img{
        position: absolute;
        border-radius: 150px;
        height: 3rem;
        width: 3rem;
        top: -85px;
        left: 29rem;
    }
    p{
        font-family: $other_font;
        text-align: center;
        line-height: 2rem;
        width: 80%;
        margin: auto;
        font-size: 0.8rem;
    }
    h2{
        font-family: $other_font;
        padding-top: 25px;
        text-align: center;
        text-transform: capitalize;
        font-size: 1.2rem;
    }
    h3{
        font-family: $other_font;
        color: $color_test;
        padding-top: 15px;
        text-align: center;
        font-size: 0.8rem;
    }
}

.bloc4_header{
    h3{
        text-align: center;
        padding-top: 70px;
        font-weight: 0.5rem;
        color: $color_test; 
        text-transform: capitalize;
        font-size: 2rem;
        font-weight: 200;
    }
    h4{
        text-align: center;
        font-weight: 1rem;
        font-family: none;
        font-size: 1.5rem;
        text-transform: uppercase;
        word-spacing: 1.5px;
        margin-top: -5px;
        color: white;
    }
    img{
        display: block;
        margin: auto;
        width: auto; 
        height: auto;
        margin-top: 40Px; 
    } 
<<<<<<< HEAD
}

.bloc4_top{
    height: 700px;
    display: flex;
    .bloc4_top-left_1, .bloc4_top-left_2{
        display: flex;
        padding: 1rem;
        font-family: $other_font;
    }
    .whisky{
        background: url(../img/event-01.jpg) center/cover;
        width: 50%;
        height: 200px;
        h3{
            font-family: $other_font;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            width: 50px;
            height: 50px;
            background-color: black;
            text-align: center;
            font-size: 0.8rem;
        }
    }
    .text_wisky, .text_vase{
        background-color: white;
        padding: 15px;
        width: 100%;
        font-family: $other_font;
        h3{
            font-family: $other_font;
            padding-top: 15px;
        }
        p{
            font-family: $other_font;
            padding-top: 15px;
            font-size: 0.6rem;
        }
        h4{
            font-family: $other_font;
            text-transform: uppercase;
            font-size: 0.8rem;
            padding-top: 15px;
        }
    }
}
.bloc4_top-left_2{
    .vase{
        background: url(../img/event-02.jpg) center/cover;
        width: 50%;
        height: 200px;
        h3{
            font-family: $other_font;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            width: 50px;
            height: 50px;
            background-color: black;
            text-align: center;
            font-size: 0.8rem;
        }
    }
=======
>>>>>>> 21689c2720df89d997e61b14e283a024328cdaa1
}