.nav-header_container{
    background: url(/img/bg-slider-06.jpg) no-repeat;
    background-size: 100% 85vh;
    color : whitesmoke;
    min-height: 85vh;

    nav{
        @include centerChild;
        padding: 1rem;
    
        ul{
            display: flex;
            justify-content: space-around;
    
            width: 60%;
    
            li{
                padding: 5px;
                text-transform: uppercase;
                font-family: $other_font;

                &:hover{
                    transition: 0.3s;
                    cursor: pointer;
                    color : $color_test;
                    background: rgba(248, 248, 248, 0.993);
                    font-weight: bold;
                    border-radius: 5px; 
                }
            }
        }
    
        .icon_nav{
            @include centerChild;
            width: 20%;
            text-align: left;
            
            i{
                width: 1.8rem;
            }
        }
    
        h2{
            width: 25% ;
            font-size: 2.5rem;
        }
    }

    header{
        display: flex;
        flex-direction: column;
        align-items: center;

        margin-top: 7.5rem;

        h2{
            color : $color_test;
            font-weight: 300;
            font-size: 2rem;
        }

        h1{
            font-family: $other_font ;
            text-transform: uppercase;
            font-size: 2rem;
            letter-spacing: 7px;
        }

        img{
            margin: 2rem auto;
        }

        p{
            text-transform: uppercase;
            font-family: $other_font;
            letter-spacing: 8px;

        }

    }

}



