$color_background: rgba(0, 0, 0, 0.200);
$color_div: rgba(243, 243, 243, 0.563);
$color_test: rgba(255, 166, 0, 0.76);
$color_footer1:rgb(28, 28, 26);
$color_footer2:rgb(38, 37, 35);
$other_font : sans-serif;
$media_size1 : 800px;

@font-face {
    font-family: "allura";
    src: url(../font/Allura/Allura-Regular.ttf);
  }
  @mixin centerChild {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "allura", sans-serif;
    list-style: none;
}

body{
    min-height: 100vh;
}