@font-face {
  font-family: "allura";
  src: url(../font/Allura/Allura-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "allura", sans-serif;
  list-style: none;
}

body {
  min-height: 100vh;
}

.nav-header_container {
  background: url(/img/bg-slider-06.jpg) no-repeat;
  background-size: 100% 85vh;
  color: whitesmoke;
  min-height: 90vh;
}
@media screen and (max-width: 800px) {
  .nav-header_container {
    background-size: 100%;
    background: url(/img/bg-slider-06.jpg) center no-repeat;
  }
}
.nav-header_container nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 1rem;
}
.nav-header_container nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 60%;
}
@media screen and (max-width: 800px) {
  .nav-header_container nav ul {
    display: none;
  }
}
.nav-header_container nav ul li {
  padding: 5px;
  text-transform: uppercase;
  font-family: sans-serif;
}
.nav-header_container nav ul li:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
  color: rgba(255, 166, 0, 0.76);
  background: rgba(248, 248, 248, 0.993);
  font-weight: bold;
  border-radius: 5px;
}
.nav-header_container nav .icon_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 20%;
  text-align: left;
}
.nav-header_container nav .icon_nav i {
  width: 1.8rem;
}
.nav-header_container nav h2 {
  width: 25%;
  font-size: 2.5rem;
}
@media screen and (max-width: 800px) {
  .nav-header_container nav h2 {
    font-size: 1.7rem;
    width: 50%;
    text-align: left;
  }
}
.nav-header_container header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 8rem;
}
@media screen and (max-width: 800px) {
  .nav-header_container header {
    margin-top: 8rem;
  }
}
.nav-header_container header h2 {
  color: rgba(255, 166, 0, 0.76);
  font-weight: 300;
  font-size: 2rem;
}
.nav-header_container header h1 {
  font-family: sans-serif;
  text-transform: uppercase;
  font-size: 2rem;
  letter-spacing: 7px;
}
@media screen and (max-width: 800px) {
  .nav-header_container header h1 {
    font-size: 1.7rem;
    margin: 2rem 0;
  }
}
.nav-header_container header img {
  margin: 2rem auto;
}
@media screen and (max-width: 800px) {
  .nav-header_container header img {
    height: 35px;
    margin: 2.5rem auto;
  }
}
.nav-header_container header p {
  text-transform: uppercase;
  font-family: sans-serif;
  letter-spacing: 8px;
  text-align: center;
}
@media screen and (max-width: 800px) {
  .nav-header_container header p {
    font-size: 0.7rem;
    letter-spacing: 5px;
  }
}

* {
  margin: 0;
  padding: 0;
}

.bloc1 {
  background-color: rgba(243, 243, 243, 0.563);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}
.bloc1 .bloc1_left {
  position: relative;
  border: 3px dotted rgba(255, 166, 0, 0.76);
  margin: 20px;
  width: 50%;
}
.bloc1 .bloc1_left img {
  display: block;
  margin: auto;
  width: auto;
  height: auto;
  margin-top: 40Px;
  border-radius: 100%;
}
.bloc1 h1 {
  text-align: center;
  padding-top: 70px;
  font-weight: 0.5rem;
  color: rgba(255, 166, 0, 0.76);
  text-transform: capitalize;
  font-size: 2.8rem;
}
.bloc1 h2 {
  text-align: center;
  font-weight: 1rem;
  font-family: none;
  font-size: 1.5rem;
  text-transform: uppercase;
  word-spacing: 2px;
  margin-top: -12px;
}
.bloc1 p {
  text-align: center;
  width: 75%;
  line-height: 20px;
  font-family: none;
  display: block;
  margin: 5px auto;
  padding-top: 40px;
}
.bloc1 h3 {
  text-align: center;
  width: 50%;
  margin: 0 auto;
  padding-top: 15px;
  font-size: 1.7rem;
  word-spacing: 5px;
  text-transform: capitalize;
  font-family: none;
  font-weight: bolder;
}
.bloc1 h4 {
  text-align: center;
  width: 70%;
  margin: 0 auto;
  font-size: 1.2rem;
  word-spacing: 1px;
  text-transform: uppercase;
  font-family: none;
  font-weight: bold;
  color: rgba(131, 129, 125, 0.768627451);
}
.bloc1 .bloc1_right {
  width: 50%;
}
.bloc1 .bloc1_right img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 700px) {
  .bloc1 .bloc1_left {
    width: 100%;
  }
  .bloc1 .bloc1_right {
    display: none;
  }
}

.head_bloc2 {
  background-color: rgb(38, 37, 35);
  color: white;
  height: 22rem;
  width: 100%;
  text-align: center;
  text-transform: capitalize;
  font-size: 1.2rem;
}
.head_bloc2 h2 {
  color: rgba(255, 166, 0, 0.76);
  padding-top: 5rem;
  opacity: 0.5;
  font-size: 2.5rem;
}
.head_bloc2 img {
  padding-top: 1rem;
}
.head_bloc2 ul {
  padding-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 65%;
  margin: auto;
}
@media screen and (max-width: 700px) {
  .head_bloc2 ul {
    width: 90%;
  }
}
.head_bloc2 ul li {
  border-bottom: 1px solid white;
  font-family: sans-serif;
  opacity: 0.8;
}
@media screen and (max-width: 700px) {
  .head_bloc2 ul li {
    font-size: 0.8rem;
    margin: 0 10px;
  }
}
@media screen and (max-width: 700px) {
  .head_bloc2 {
    height: 80vh;
  }
}

.main_bloc2 {
  background: url(../img/bg-menu-01.jpg) center/cover;
  min-height: 80vh;
  width: 100%;
  position: relative;
}
@media screen and (max-width: 700px) {
  .main_bloc2 {
    margin: 0 auto;
  }
}
.main_bloc2 .main_bloc2_container {
  background-color: white;
  position: absolute;
  top: -100px;
  left: 15rem;
  width: 65%;
  padding: 15px;
  border-top: 3px solid rgba(255, 166, 0, 0.76);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "z1 z2" "z3 z4" "z5 z6" "z7 z8";
}
.main_bloc2 .main_bloc2_container .s12 {
  grid-area: z1;
}
.main_bloc2 .main_bloc2_container .s22 {
  grid-area: z2;
}
.main_bloc2 .main_bloc2_container .s15 {
  grid-area: z3;
}
.main_bloc2 .main_bloc2_container .s18 {
  grid-area: z4;
}
.main_bloc2 .main_bloc2_container .s20 {
  grid-area: z5;
}
.main_bloc2 .main_bloc2_container .s14 {
  grid-area: z6;
}
.main_bloc2 .main_bloc2_container .s16 {
  grid-area: z7;
}
.main_bloc2 .main_bloc2_container .s25 {
  grid-area: z8;
}
.main_bloc2 .main_bloc2_container .s12, .main_bloc2 .main_bloc2_container .s22, .main_bloc2 .main_bloc2_container .s15, .main_bloc2 .main_bloc2_container .s20, .main_bloc2 .main_bloc2_container .s16, .main_bloc2 .main_bloc2_container .s18, .main_bloc2 .main_bloc2_container .s14, .main_bloc2 .main_bloc2_container .s25 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.185);
}
.main_bloc2 .main_bloc2_container .s12_cont, .main_bloc2 .main_bloc2_container .s22_cont, .main_bloc2 .main_bloc2_container .s15_cont, .main_bloc2 .main_bloc2_container .s20_cont, .main_bloc2 .main_bloc2_container .s16_cont, .main_bloc2 .main_bloc2_container .s18_cont, .main_bloc2 .main_bloc2_container .s14_cont, .main_bloc2 .main_bloc2_container .s25_cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main_bloc2 .main_bloc2_container img {
  margin: 15px;
  border-radius: 150px;
  height: 4rem;
}
.main_bloc2 .main_bloc2_container h5 {
  font-family: sans-serif;
  text-transform: uppercase;
  font-size: 0.7rem;
}
.main_bloc2 .main_bloc2_container p {
  font-family: sans-serif;
  text-transform: capitalize;
  font-size: 0.7rem;
}
.main_bloc2 .main_bloc2_container h6 {
  font-family: sans-serif;
  color: rgba(255, 166, 0, 0.76);
  font-size: 1rem;
}
@media screen and (max-width: 700px) {
  .main_bloc2 .main_bloc2_container {
    width: 90%;
    top: -420px;
    left: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

/* @media screen and (max-width: 700px){

    .main_bloc2_container{
        width: 80%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
        grid-template-areas: 
        "i1" 
        "i2"
        "i3"
        "i4"
        "i5"
        "i6"
        "i7"
        "i8";
        .s12{
            grid-area: i1;
        }
        .s22{
            grid-area: i2;
        }
        .s15{
            grid-area: i3;
        }
        .s18{
            grid-area: i4;
        }
        .s20{
            grid-area: i5;
        }
        .s14{
            grid-area: i6;
        }
        .s16{
            grid-area: i7;
        }
        .s25{
            grid-area: i8;
        }
    }
} */
.bloc3 {
  padding: 4rem;
  background: rgb(38, 37, 35);
}
@media screen and (max-width: 800px) {
  .bloc3 {
    padding: 2rem;
  }
}
.bloc3 .bloc3_container {
  width: 80%;
  display: grid;
  grid-template-columns: 30% 70%;
  margin: 0 auto;
}
@media screen and (max-width: 800px) {
  .bloc3 .bloc3_container {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.bloc3 .bloc3_container .bloc3_left {
  background: black;
  padding: 1rem;
}
.bloc3 .bloc3_container .bloc3_left div {
  border: 1px solid rgba(255, 166, 0, 0.76);
  text-align: center;
  padding: 30px;
}
@media screen and (max-width: 800px) {
  .bloc3 .bloc3_container .bloc3_left div {
    border: 3px dotted white;
  }
}
.bloc3 .bloc3_container .bloc3_left div h4 {
  color: rgba(255, 166, 0, 0.76);
  font-size: 2rem;
  font-weight: 100;
}
.bloc3 .bloc3_container .bloc3_left div h5 {
  color: white;
  font-family: sans-serif;
  font-size: 1.2rem;
  text-transform: uppercase;
}
.bloc3 .bloc3_container .bloc3_left div img {
  margin: 2rem auto;
  height: 25px;
}
.bloc3 .bloc3_container .bloc3_left div h3 {
  color: rgba(255, 166, 0, 0.76);
  font-family: sans-serif;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 100;
}
.bloc3 .bloc3_container .bloc3_left div p {
  color: rgba(243, 243, 243, 0.563);
  font-family: sans-serif;
  margin: 1.5rem auto;
}
.bloc3 .bloc3_container .bloc3_right {
  background: rgb(237, 237, 237);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (max-width: 800px) {
  .bloc3 .bloc3_container .bloc3_right {
    padding: 2rem;
  }
}
.bloc3 .bloc3_container .bloc3_right h3 {
  color: rgba(255, 166, 0, 0.76);
  font-size: 2rem;
  font-weight: 100;
}
.bloc3 .bloc3_container .bloc3_right h4 {
  color: black;
  font-size: 1.8rem;
  font-weight: bold;
  font-family: sans-serif;
  text-transform: uppercase;
}
.bloc3 .bloc3_container .bloc3_right img {
  margin: 2rem auto;
  height: 25px;
}
.bloc3 .bloc3_container .bloc3_right form {
  width: 80%;
  display: grid;
  grid-template-columns: 30% 30% 35%;
  -webkit-column-gap: 0.5rem;
     -moz-column-gap: 0.5rem;
          column-gap: 0.5rem;
  row-gap: 2rem;
}
@media screen and (max-width: 800px) {
  .bloc3 .bloc3_container .bloc3_right form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.bloc3 .bloc3_container .bloc3_right form input, .bloc3 .bloc3_container .bloc3_right form select {
  border: none;
  background: none;
  font-family: sans-serif;
  border-bottom: 1px solid gray;
  padding: 10px 0;
}
.bloc3 .bloc3_container .bloc3_right form input[type=submit] {
  background: rgb(38, 37, 35);
  border-radius: 30px;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.1rem;
  width: 80%;
  padding: 10px;
}

.bloc4_top_right {
  background: url(../img/event-03.jpg);
  padding: 1rem;
}
.bloc4_top_right .bloc4_top_right_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgb(237, 237, 237);
  margin: 1.5rem auto;
}
.bloc4_top_right .bloc4_top_right_container h3 {
  background: black;
  font-size: 2rem;
  color: white;
  font-family: sans-serif;
  line-height: 1.5rem;
  font-size: 1.5rem;
  text-align: center;
  width: 20%;
  padding: 1rem;
  font-weight: 200;
}
.bloc4_top_right .bloc4_top_right_container h2 {
  text-align: center;
  font-family: sans-serif;
  font-weight: 50;
  padding: 3rem 0 1.5rem 0;
  font-size: 1.3rem;
  opacity: 0.7;
}
.bloc4_top_right .bloc4_top_right_container p {
  font-family: sans-serif;
  opacity: 0.4;
}
.bloc4_top_right .bloc4_top_right_container h4 {
  font-family: sans-serif;
  text-transform: uppercase;
  font-size: 0.8rem;
  margin-top: 5rem;
  margin-bottom: 3rem;
}

.bloc4 {
  background: rgb(38, 37, 35);
}

.bloc4_bottom {
  background: url(../img/gmap.jpg);
  height: 300px;
  position: relative;
}
.bloc4_bottom .bloc4_bottom_cont {
  background-color: rgba(243, 243, 243, 0.563);
  width: 80%;
  padding: 50px;
  height: 250px;
  position: absolute;
  bottom: 200px;
}
.bloc4_bottom .image {
  position: relative;
}
.bloc4_bottom img {
  position: absolute;
  border-radius: 150px;
  height: 3rem;
  width: 3rem;
  top: -85px;
  left: 29rem;
}
.bloc4_bottom p {
  font-family: sans-serif;
  text-align: center;
  line-height: 2rem;
  width: 80%;
  margin: auto;
  font-size: 0.8rem;
}
.bloc4_bottom h2 {
  font-family: sans-serif;
  padding-top: 25px;
  text-align: center;
  text-transform: capitalize;
  font-size: 1.2rem;
}
.bloc4_bottom h3 {
  font-family: sans-serif;
  color: rgba(255, 166, 0, 0.76);
  padding-top: 15px;
  text-align: center;
  font-size: 0.8rem;
}

.bloc4_header h3 {
  text-align: center;
  padding-top: 70px;
  font-weight: 0.5rem;
  color: rgba(255, 166, 0, 0.76);
  text-transform: capitalize;
  font-size: 2rem;
  font-weight: 200;
}
.bloc4_header h4 {
  text-align: center;
  font-weight: 1rem;
  font-family: none;
  font-size: 1.5rem;
  text-transform: uppercase;
  word-spacing: 1.5px;
  margin-top: -5px;
  color: white;
}
.bloc4_header img {
  display: block;
  margin: auto;
  width: auto;
  height: auto;
  margin-top: 40Px;
}

.bloc4_top {
  height: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.bloc4_top .bloc4_top-left_1, .bloc4_top .bloc4_top-left_2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem;
  font-family: sans-serif;
}
.bloc4_top .whisky {
  background: url(../img/event-01.jpg) center/cover;
  width: 50%;
  height: 200px;
}
.bloc4_top .whisky h3 {
  font-family: sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  width: 50px;
  height: 50px;
  background-color: black;
  text-align: center;
  font-size: 0.8rem;
}
.bloc4_top .text_wisky, .bloc4_top .text_vase {
  background-color: white;
  padding: 15px;
  width: 100%;
  font-family: sans-serif;
}
.bloc4_top .text_wisky h3, .bloc4_top .text_vase h3 {
  font-family: sans-serif;
  padding-top: 15px;
}
.bloc4_top .text_wisky p, .bloc4_top .text_vase p {
  font-family: sans-serif;
  padding-top: 15px;
  font-size: 0.6rem;
}
.bloc4_top .text_wisky h4, .bloc4_top .text_vase h4 {
  font-family: sans-serif;
  text-transform: uppercase;
  font-size: 0.8rem;
  padding-top: 15px;
}

.bloc4_top-left_2 .vase {
  background: url(../img/event-02.jpg) center/cover;
  width: 50%;
  height: 200px;
}
.bloc4_top-left_2 .vase h3 {
  font-family: sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  width: 50px;
  height: 50px;
  background-color: black;
  text-align: center;
  font-size: 0.8rem;
}

footer {
  display: grid;
  grid-template-columns: 50% 50%;
  min-height: 10vh;
}
@media screen and (max-width: 800px) {
  footer {
    grid-template-columns: 100%;
  }
}
footer .footer_left {
  background: rgb(28, 28, 26);
  padding: 2.5rem 3rem 2rem 30%;
}
@media screen and (max-width: 800px) {
  footer .footer_left {
    display: none;
  }
}
footer .footer_left h2 {
  color: rgba(255, 166, 0, 0.76);
  font-weight: 200;
  padding: 10px 0;
  font-size: 2rem;
}
footer .footer_left p {
  color: rgba(243, 243, 243, 0.563);
  font-family: sans-serif;
  font-size: 0.8rem;
  line-height: 1.4rem;
}
footer .footer_right {
  background: rgb(38, 37, 35);
  padding: 2.5rem 3rem 2rem 3rem;
}
@media screen and (max-width: 800px) {
  footer .footer_right {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}
footer .footer_right div h3 {
  font-family: sans-serif;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  font-size: 0.9rem;
}
footer .footer_right div input {
  background: none;
  margin: 1rem 0;
  padding-left: 10px;
  color: rgba(243, 243, 243, 0.563);
  font-family: sans-serif;
  border: 1px solid rgba(252, 192, 62, 0.188);
  height: 1.8rem;
}
footer .footer_right .footer-logos {
  padding: 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 40%;
}
footer .footer_right .footer-logos i {
  color: rgba(243, 243, 243, 0.563);
  opacity: 0.4;
}/*# sourceMappingURL=index.css.map */