@font-face {
  font-family: "allura";
  src: url(../font/Allura/Allura-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "allura", sans-serif;
  list-style: none;
}

body {
  min-height: 100vh;
}

.nav-header_container {
  background: url(/img/bg-slider-06.jpg) no-repeat;
  background-size: 100% 85vh;
  color: whitesmoke;
  min-height: 85vh;
}
.nav-header_container nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 1rem;
}
.nav-header_container nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 60%;
}
.nav-header_container nav ul li {
  padding: 5px;
  text-transform: uppercase;
  font-family: sans-serif;
}
.nav-header_container nav ul li:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
  color: rgba(255, 166, 0, 0.76);
  background: rgba(248, 248, 248, 0.993);
  font-weight: bold;
  border-radius: 5px;
}
.nav-header_container nav .icon_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 20%;
  text-align: left;
}
.nav-header_container nav .icon_nav i {
  width: 1.8rem;
}
.nav-header_container nav h2 {
  width: 25%;
  font-size: 2.5rem;
}
.nav-header_container header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 7.5rem;
}
.nav-header_container header h2 {
  color: rgba(255, 166, 0, 0.76);
  font-weight: 300;
  font-size: 2rem;
}
.nav-header_container header h1 {
  font-family: sans-serif;
  text-transform: uppercase;
  font-size: 2rem;
  letter-spacing: 7px;
}
.nav-header_container header img {
  margin: 2rem auto;
}
.nav-header_container header p {
  text-transform: uppercase;
  font-family: sans-serif;
  letter-spacing: 8px;
}

* {
  margin: 0;
  padding: 0;
}

.bloc1 {
  background-color: rgba(243, 243, 243, 0.563);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}
.bloc1 .bloc1_left {
  position: relative;
  border: 3px dotted rgba(255, 166, 0, 0.76);
  margin: 20px;
  width: 50%;
}
.bloc1 .bloc1_left img {
  display: block;
  margin: auto;
  width: auto;
  height: auto;
  margin-top: 40Px;
  border-radius: 100%;
}
.bloc1 h1 {
  text-align: center;
  padding-top: 70px;
  font-weight: 0.5rem;
  color: rgba(255, 166, 0, 0.76);
  text-transform: capitalize;
  font-size: 2.8rem;
}
.bloc1 h2 {
  text-align: center;
  font-weight: 1rem;
  font-family: none;
  font-size: 1.5rem;
  text-transform: uppercase;
  word-spacing: 2px;
  margin-top: -12px;
}
.bloc1 p {
  text-align: center;
  width: 75%;
  line-height: 20px;
  font-family: none;
  display: block;
  margin: 5px auto;
  padding-top: 40px;
}
.bloc1 h3 {
  text-align: center;
  width: 50%;
  margin: 0 auto;
  padding-top: 15px;
  font-size: 1.7rem;
  word-spacing: 5px;
  text-transform: capitalize;
  font-family: none;
  font-weight: bolder;
}
.bloc1 h4 {
  text-align: center;
  width: 70%;
  margin: 0 auto;
  font-size: 1.2rem;
  word-spacing: 1px;
  text-transform: uppercase;
  font-family: none;
  font-weight: bold;
  color: rgba(131, 129, 125, 0.767);
}
.bloc1 .bloc1_right {
  width: 50%;
}
.bloc1 .bloc1_right img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 700px) {
  .bloc1 .bloc1_left {
    width: 100%;
  }
  .bloc1 .bloc1_right {
    display: none;
  }
}

.head_bloc2 {
  background-color: rgb(38, 37, 35);
  color: white;
  height: 22rem;
  text-align: center;
  text-transform: capitalize;
  font-size: 1.2rem;
}
.head_bloc2 h2 {
  color: rgba(255, 166, 0, 0.76);
  padding-top: 5rem;
  opacity: 0.5;
  font-size: 2.5rem;
}
.head_bloc2 img {
  padding-top: 1rem;
}
.head_bloc2 ul {
  padding-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 65%;
  margin: auto;
}
.head_bloc2 ul li {
  border-bottom: 1px solid white;
  font-family: sans-serif;
  opacity: 0.8;
}

.main_bloc2 {
  background: url(../img/bg-menu-01.jpg) center/cover;
  height: 500px;
  position: relative;
}
.main_bloc2 .main_bloc2_container {
  background-color: white;
  position: absolute;
  top: -100px;
  left: 15rem;
  width: 65%;
  padding: 15px;
  border-top: 3px solid rgba(255, 166, 0, 0.76);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "z1 z2" "z3 z4" "z5 z6" "z7 z8";
}
.main_bloc2 .main_bloc2_container .s12 {
  grid-area: z1;
}
.main_bloc2 .main_bloc2_container .s22 {
  grid-area: z2;
}
.main_bloc2 .main_bloc2_container .s15 {
  grid-area: z3;
}
.main_bloc2 .main_bloc2_container .s18 {
  grid-area: z4;
}
.main_bloc2 .main_bloc2_container .s20 {
  grid-area: z5;
}
.main_bloc2 .main_bloc2_container .s14 {
  grid-area: z6;
}
.main_bloc2 .main_bloc2_container .s16 {
  grid-area: z7;
}
.main_bloc2 .main_bloc2_container .s25 {
  grid-area: z8;
}
.main_bloc2 .main_bloc2_container .s12, .main_bloc2 .main_bloc2_container .s22, .main_bloc2 .main_bloc2_container .s15, .main_bloc2 .main_bloc2_container .s20, .main_bloc2 .main_bloc2_container .s16, .main_bloc2 .main_bloc2_container .s18, .main_bloc2 .main_bloc2_container .s14, .main_bloc2 .main_bloc2_container .s25 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.185);
}
.main_bloc2 .main_bloc2_container .s12_cont, .main_bloc2 .main_bloc2_container .s22_cont, .main_bloc2 .main_bloc2_container .s15_cont, .main_bloc2 .main_bloc2_container .s20_cont, .main_bloc2 .main_bloc2_container .s16_cont, .main_bloc2 .main_bloc2_container .s18_cont, .main_bloc2 .main_bloc2_container .s14_cont, .main_bloc2 .main_bloc2_container .s25_cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main_bloc2 .main_bloc2_container img {
  margin: 15px;
  border-radius: 150px;
  height: 4rem;
}
.main_bloc2 .main_bloc2_container h5 {
  font-family: sans-serif;
  text-transform: uppercase;
  font-size: 0.7rem;
}
.main_bloc2 .main_bloc2_container p {
  font-family: sans-serif;
  text-transform: capitalize;
  font-size: 0.7rem;
}
.main_bloc2 .main_bloc2_container h6 {
  font-family: sans-serif;
  color: rgba(255, 166, 0, 0.76);
  font-size: 1rem;
}

.bloc4 h3 {
  text-align: center;
  padding-top: 70px;
  font-weight: 0.5rem;
  color: rgba(255, 166, 0, 0.76);
  text-transform: capitalize;
  font-size: 2rem;
}
.bloc4 h4 {
  text-align: center;
  font-weight: 1rem;
  font-family: none;
  font-size: 1.5rem;
  text-transform: uppercase;
  word-spacing: 1.5px;
  margin-top: -5px;
}
.bloc4 img {
  display: block;
  margin: auto;
  width: auto;
  height: auto;
  margin-top: 40Px;
}

footer {
  display: grid;
  grid-template-columns: 50% 50%;
  min-height: 10vh;
}
footer .footer_left {
  background: rgb(28, 28, 26);
  padding: 2.5rem 3rem 2rem 30%;
}
footer .footer_left h2 {
  color: rgba(255, 166, 0, 0.76);
  font-weight: 200;
  padding: 10px 0;
  font-size: 2rem;
}
footer .footer_left p {
  color: rgba(243, 243, 243, 0.563);
  font-family: sans-serif;
  font-size: 0.8rem;
  line-height: 1.4rem;
}
footer .footer_right {
  background: rgb(38, 37, 35);
  padding: 2.5rem 3rem 2rem 3rem;
}
footer .footer_right div h3 {
  font-family: sans-serif;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  font-size: 0.9rem;
}
footer .footer_right div input {
  background: none;
  margin: 1rem 0;
  padding-left: 10px;
  color: rgba(243, 243, 243, 0.563);
  font-family: sans-serif;
  border: 1px solid rgba(252, 192, 62, 0.188);
  height: 1.8rem;
}
footer .footer_right .footer-logos {
  padding: 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 40%;
}
footer .footer_right .footer-logos i {
  color: rgba(243, 243, 243, 0.563);
  opacity: 0.4;
}/*# sourceMappingURL=index.css.map */